<div class="msg ithernet">
  <span></span>
  <div class="message message-chat message-out tail message-chat">
    <span class="tail-container"></span>
    <span class="tail-container highlight"></span>
    <div class="bubble bubble-text">
      <div class="message-text">
        <span class="message-pre-text">
        </span>

        <% if true %>

          <span class="emojitext selectable-text">
            <%= message.body %>
          </span>

        <%# elsif current_user.id == message.chat_room.booking.user_id %>

          <!-- <span class="emojitext selectable-text" id="clientusr">
            <%#= message.body %>
          </span> -->

        <% end %>

      </div>
      <div class="message-meta text-clickable">
        <span class="hidden-token">
          <span class="message-datetime">heure</span>
        </span>
        <span class="icon icon-msg-dblcheck-ack"></span>
      </div>
    </div>
    <span></span>
  </div>
</div>
