<div class="container text-center">
  <h1><%= @user.name %></h1>
  <p>
    <%= @user.email %>
  </p>
  <div style="width:100px; height:50px;background-image: url('http://www.blogs.erg.be/pad/wp-content/uploads/2007/02/paysage2.jpg')">

  </div>
</div>
