//background color of profile page
.profile-background-color {
  background:$white;
  padding-top: 130px;
}

.dashboardwelcome {
  margin-left: 250px;
  margin-right: 250px;
  background: $blue;
  color: white;
  padding-top: 4px;
  padding-bottom: 15px;
}

.list-parking-spots {
  text-align: left;
  padding-left: 150px;
}
