<% if current_user != nil %>
  <% if current_user.notifications.empty? %>
    <div class="text-center">
      <h2 style="font-family: lato;">Sorry,</h2>
      <h2 style="font-family: lato;">You don't have any notifications</h2>
      <%= image_tag "sorry", width: "150" %>
    </div>

  <% else %>
    <% current_user.notifications.each do |notification| %>
      <div class="alert alert-success alert-dismissible" role="alert" id="noti-<%= notification.id %>" style="padding-left: 10px;padding-right: 32px">
        <%= link_to notification_path(notification),  class: "close", method: :delete, remote: true do  %>
          <span>&times;</span>
        <% end %>
        <%= notification.content.html_safe %>
      </div>
    <% end %>
  <% end %>
<% end %>


