    <div class="row py3">
      <div class="col-xs-12 col-md-6">
        <h2><strong>Cash spent: </strong><%= humanized_money_with_symbol(current_user.bookings.sum_price) %></h2>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2><strong>Total bookings: </strong><%= current_user.bookings.count %></h2>
      </div>
    </div>
