    <div class="row" style="padding-bottom:80px;padding-top:50px">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h2><strong>Cash spent: </strong><%= humanized_money_with_symbol(current_user.bookings.sum_price) %></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h2><strong>Number of transaction: </strong><%= current_user.bookings.count %></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h2><strong>Number of transaction: </strong><%= current_user.bookings.count %></h2>
      </div>
    </div>
