<div class="text-center">
  <h3>My Bookings</h3>
    <% @user.bookings.each do |booking| %>
      <div class="col-md-4">
        <p>Parking: <%= a = booking.parking_spot_id %></p>
        <%= link_to parking_spot_path(ParkingSpot.find(a).id) do %>
        <%= cl_image_tag ParkingSpot.find(a).photo, height: 130, width: 300, crop: :fill %>
        <% end %>
      </div>
    <% end %>
</div>



