<div class="container text-center">
  <%  @bookings.each do |booking| %>
    <hr>
      <h4><%= booking.start_at %></h4>
      <h4><%= booking.end_at %></h4>
      <h4><%= booking.total_price %></h4>
    <hr>
  <% end %>
</div>
