
<div class="container text-center">

    <% @user.bookings.each do |booking| %>
    <hr>

      <p> <%= "Starts on the: #{booking.start_at} "%></p>
      <p> <%= "Ends on the: #{booking.end_at}"%></p>
      <p> <%= "Your booking total price is: #{booking.total_price}"%></p>
      <p> <%= link_to "Chat", booking_chat_rooms_path(booking)%></p>
     <hr>
     <% end %>
</div>





