<div class="container text-center" style="padding-top:100px;padding-bottom:100px">
  <p><strong>Id: </strong><%= @booking.id %></p>
  <p><strong>Starts on the: </strong><%= @booking.start_at %></p>
  <p><strong>Ends on the: </strong><%= @booking.end_at %></p>
  <p><strong>Your booking total price is: </strong><%#= @booking.total_price %></p>
  <p><strong>Status: </strong><%= @booking.status %></p>
</div>


