        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="footer-contant">
                                <h3>Say Hi, Get In Touch</h3>
                                <div class="social-icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                                <div class="support-link">
                                    <ul>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Developers</a></li>
                                        <li><a href="#">Privacy</a></li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                  <p style="color:#8C9494;padding-top:30px">© 2016 Parking Find, Inc.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #footer -->
