<div id="footer">
  <div class="text-center container">
    <div class="col-md-4">
      <ul>
         <li><a href="#">Contact</a></li>
         <li><a href="#">T&C</a></li>
       </ul>
    </div>

    <div class="col-md-4" style="margin-top:10px">
      <a style="color:#464343;padding-right: 15px;"><i class="fa fa-facebook" style="font-size: 25px;"></i></a>
      <a style="color:#464343;padding-right: 15px;"><i class="fa fa-envelope-o" style="font-size: 25px;"></i></a>
      <a style="color:#464343;padding-right: 15px;"><i class="fa fa-instagram" style="font-size: 25px;"></i></a>
    </div>

    <div class="col-md-4">
      <ul>
         <li><a href="#">Help</a></li>
         <li><a href="#">FAQ</a></li>
       </ul>
    </div>

  </div>
</div>
<div class="text-center" style="background:#333333;padding-bottom: 1px;">
  <p style="padding-top:5px;color:white">© 2016 Parking Find, Inc.</p>
</div>


