<% if current_user != nil %>
  <% current_user.notifications.each do |notification| %>
      <div class="alert alert-success alert-dismissible" role="alert" id="noti-<%= notification.id %>" >
        <%= link_to notification_path(notification),  class: "close", method: :delete, remote: true do  %>
          <span>&times;</span>
        <% end %>
        <%= notification.content.html_safe %>
    </div>
  <% end %>
<% end %>
