<h1>Parking Management Utility Thing</h1>
<form action='/search'>
  <label for='query'>Where do you need to park?</label>
  <input type='text' name='query'>
  <input type='submit' value='Search'>
</form>
