<section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="slider-text-area text-center">
                                <div class="slider-text">
                                    <%#= link_to "Check All Parking Spots", parking_spots_path %>
                                    <p class="sub-slider-text" style="padding-bottom:20px">Find your perfect parking space</p>
                                    <form action='/search' id='form_container' class='form-inline'>
                                      <div class='form-group'>
                                        <label for='search'><label>
                                        <input id="search_box" type='text' name='search' class='form-control' placeholder= 'Where to park?'>
                                        <input class="btn btn-success" type='submit' value='Search' >
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #slider close -->
        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-top">
                            <div class="service-header">
                                <h1>On-demand parking in Beirut</h1>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- row close -->
        <div class="row">
          <div class="col-md-12">
            <div class="block-bottom">
              <div class="service-tab">
                  <!-- Nav tabs -->
                  <ul class="badhon-tab" role="tablist">
                    <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="fa fa-map-marker"></i>Secret spots
                    </a></li>
                    <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                    <i class="fa fa-usd"></i>Flat rate
                    </a></li>
                    <li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                    <i class="fa fa-rocket"></i>Tap and park
                    </a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content edit-tab-content">
                    <div class="tab-pane active edit-tab" id="home">
                      <div class="teb-icon-edit">
                        <i class="fa fa-map-marker"></i>
                      </div>
                      <h1>Secret spots</h1>
                      <p>Secret spots in the hardest parking areas.</p>
                    </div>
                    <div class="tab-pane edit-tab" id="profile">
                      <div class="teb-icon-edit">
                        <i class="fa fa-usd"></i>
                      </div>
                      <h1>Flat rate</h1>
                      <p>Lower rates since we use underutilized parking spaces.</p>
                    </div>
                    <div class="tab-pane edit-tab" id="messages">
                      <div class="teb-icon-edit">
                        <i class="fa fa-rocket"></i>
                      </div>
                      <h1>Tap and park</h1>
                      <p>Get your spot the fastest way via App or text message.</p>
                    </div>
                  </div>
              </div>
            </div>
          </div><!-- .col-md-12 close -->
        </div><!-- row close -->
            </div><!-- .container close -->
        </section><!-- #service close -->
