<div class="container text-center" style="padding-top: 100px">
  <h1 >Parking Management Utility Thing</h1>
  <form action='/search'>
    <label for='search'>Where do you need to park?</label>
    <input type='text' name='search'>
    <input type='submit' value='search'>
  </form>
  <h3> <%= link_to "Check our parking slots", parking_spots_path %> </h3>
</div>

