<div id="landing">
  <div id='landing-content' class="container text-center">
    <h1 class='lato'>Parking Management Utility Thing</h1>
    <div class='row'>
      <div class='col-xs-12 col-md-6 col-md-offset-3'>
        <form action='/search' id='search-form' class='form-inline'>
          <div class='form-group'>
            <label for='search'><strong>Where do you need to park?&nbsp;</strong></label>
            <input type='text' name='search' class='form-control'>
          </div>
          <input class="btn btn-success" type='submit' value='Search'>
        </form>
      </div>
    </div>
    <a class="btn btn-primary" href="parking_spots" role="button" style="margin-top: 25px;">Check our parking slots</a>
  </div>
</div>
