/*// Your footer style
*/
form {
  margin-top: 0em;
}

#footer {
    background: #d8d8d8;
    color: #CCCCCC;
    padding: 10px 0;
    position: relative;
    border-top: 2px solid #a09999;
/*    margin-top: 30px;
*/}
#footer a {
  color:#464545;
  text-decoration: none;
}

#footer ul {
  list-style-type: none;

}

.fa {
  /*font-size: 30px;
  color: #CCCCCC;
  padding: 15px 10px;
  margin: 15px;*/
}

#newsletter p {
  margin: 0px;
}

li {
    list-style: none;
}

