/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/* flex utilities */
.flex { display: flex; }
.items-vertical-center { align-items: center; }

/* Margins */
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }


/*// Positioning
*/.fixed { position: fixed; }

/*// Paddings
*/.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

/*// Backgrounds
*/.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: $white;
}
.bg-blue {
  background: $blue;
}
.bg-dark-blue {
  background: #3b5998;
}
form#edit_parking_spot_1 {
    text-align: left;
    position: relative;
    left: 400px !important;
}

@media screen and (max-width: 480px) {
    form#edit_parking_spot_1 {
    position: relative;
    left: 50px !important;
    }
}

#avatar{
  width: 50px;
  border-radius: 50%;
}

div#smappux {

    right: 0px;
}

div.scroll {
    border: 1px ridge #463d3d;
    height: 530px;
    overflow: scroll;
    background: $white;
}

div#oldman {
    padding-top: 40px;
}

div.alert-success {
    background: rebeccapurple !important;
}

.lato {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}


.features {
  padding:50px;
}

.feature-home{
    font-size: 129px;
}

i.fa.fa-bell {
    color: maroon;
}

div#enline {
    display: -webkit-inline-box;
}

a{
  color: white;
}

div#enline a {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #06887c;
}

h1 {
  font-weight:bold;
}
