/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
form#edit_parking_spot_1 {
    text-align: left;
    position: relative;
    left: 400px !important;
}

@media screen and (max-width: 480px) {
    form#edit_parking_spot_1 {
    position: relative;
    left: 50px !important;
    }
}


#avatar{
  width: 50px;
  border-radius: 50%;
}

div#smappux {

    right: 0px;
}


div.scroll {
    border: 10px solid #463d3d;
    height: 500px;
    overflow: scroll;
}


div#oldman {
    padding-top: 40px;
}

div.alert-success {
    background: rebeccapurple !important;
}

