/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
form#edit_parking_spot_1 {
    text-align: left;
    position: relative;
    left: 400px !important;
}

@media screen and (max-width: 480px) {
    form#edit_parking_spot_1 {
    position: relative;
    left: 50px !important;
    }
}


#avatar{
  width: 50px;
  border-radius: 50%;
}

div#smappux {

    right: 0px;
}


div.scroll {
    border: 10px solid #463d3d;
    height: 530px;
    overflow: scroll;
}


div#oldman {
    padding-top: 40px;
}


div.alert-success {
    background: rebeccapurple !important;
}



.lato {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}


#intro-content {
    width: 930px;
    margin: 60px auto 0;
    text-align: center;
    color: #00FF00;

}


#search-area {
    position: relative;
    width: 930px;
    margin: 40px auto 0;
    text-align: center;

    form {
      margin: 0;
      padding: 0;
    }
}

.wrapper-grey {
  background: #CCCCCC;
}


#search-area input {
    height: 40px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    padding: 0 15px 0 15px;
}


#landing-content {
    color: white;
    position: relative;
    bottom: 50px;
    padding-top: 300px;
}

.features {
  padding:50px;
}

.feature-home{
    font-size: 129px;
}



