<div class="container-fluid">
  <div class="create-button text-center" id="image_park">
    <button type="button" class="btn btn-default btn-lg"  id='btn-create-spot' style="margin-top: 83px;" data-toggle="modal" data-target="#rentspace">Create Parking Spot</button>
  </div>

  <div class="row">
    <div class="how-create text-center">
      <div class="col-md-4" style="padding-top:50px">
        <h2> List your space for free</h2>
        <p> You can add a driveway, car park, empty hotel spaces or anything else </p>
      </div>

      <div class="col-md-4" style="padding-top:50px">
        <h2> Control availability</h2>
        <p> Validate each of the request to be sure that it fits your needs</p>
      </div>

      <div class="col-md-4" style="padding-top:50px">
        <h2> Get paid </h2>
        <p> Get regular bookings and payments straight to your bank or paypal account</p>
      </div>
    </div>
  </div>

  <div class="secured">
  </div>
</div>


  <%= render "createspot" %>
