<!-- Trigger the modal with a button -->


<div class="container-fluid">
  <div class="create-button text-center">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>




  </div>

    <div class="row ">
      <div class="how-create text-center">
      <div class="col-lg-3">

        <h2> List your space for free </h2>
        <p> You can add a driveway, car park, empty hotel spaces or anything else </p>
      </div>
       <div class="col-lg-3">
        <h2> Control availability </h2>
        <p> Validate each of the request to be sure that it fits your needs</p>
      </div>
       <div class="col-lg-3">
        <h2> Get paid </h2>
        <p> Get regular bookings and payments straight to your bank or paypal account</p>
      </div>
    </div>
  </div>

  <div class="secured" >
  </div>

</div>
<%= render "createspot" %>

