// Place all the styles related to the ParkingSpots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// CSS for index of parking spots


#btn-create-spot {
  background-color: white;
  &:hover {
    background-color: transparent;
  }
}

.create_sub {
  display:flex;
}

.how-create {
    background-color: $dark-blue;
    color:$white;
    padding:60px;
}

#image_park {
  background-image: url("parking3.jpg");
  height: 256px;
  background-size: cover;
  padding-top: -10px;
  margin-bottom: 1px;
  margin-top: 1px;
  margin-left: -15px;
  margin-right: -15px;
  background-position-y: -524px;
}


.home-picture-big-create {
  height:100px;
}

.div-create-banner {
  width:100%;
  background-image: url(asset-path('parking-create.jpg')), linear-gradient(to bottom, #4ac425, #4ac425);
  height:100px;
  background-size: cover;
}
