// Place all the styles related to the ParkingSpots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// CSS for index of parking spots

.structure {
  display:flex;
  justify-content:center;

  .subcontent {
    padding: 20px 20px 20px 20px;
    background-color: white;
    width: 500px;
    height: 297px;
    display: flex;
    flex-direction: column;
    .important_info{

    }
  }
}


.index_parking_adress {
    font-size: 23px;
    width: 100%;
    font-weight: bold;
    color: green;
  }
